<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>대표이미지</th>
        <th>제목</th>
        <th>장소</th>
        <th>가격</th>
        <th>댓글수</th>
        <th>좋아요수</th>
        <th>id</th>
    </tr>

    <tr th:each="product: ${productList}">
        <!--            <form th:action="@{/product/page}" method="get" th:object="product">-->
        <td><img th:src="${product.representativeImage}" alt="이미지칸" width="50" height="50"></td>
        <td th:text="${product.title}"></td>
        <td th:text="${product.place}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.commentCount}"></td>
        <td th:text="${product.likeCount}"></td>
        <td th:text="${product.id}"></td>
        <td><button th:onclick="|location.href='@{/product/page/{productId}(productId=${product.id})}'|">상품페이지로 이동</button></td>

    </tr>
</table>
관심내역
</body>
</html>