<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--예외처리가 필요함 null 체크-->
로그인<br>
<form action="/templates/start.html" th:action th:object="${loginDto}" method="post">

    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
    </div>

    <div>
    이메일(ID): <br>
        <input type="text" th:field="*{email}"><br>
        <div class="field-error" th:errors="*{email}" />
    </div>
    <div>
        비밀번호: <br> <input type="text" th:field="*{password}"><br>
        <div class="field-error" th:errors="*{password}" />
    </div>
    <button type="submit">로그인</button>

</form>

</body>
</html>